{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    // Too much overhead switching between parens notation and brace notation
    "arrow-body-style": 0,
    // Immutable.js does not follow this convention
    "new-cap": 0,
    // IntelliJ adds trailing spaces
    "no-trailing-spaces": 0,
    // Too much overhead switching between function syntax and class syntax if state or ref is needed
    "react/prefer-stateless-function": 0,
    // Prefer alphabetical
    "react/sort-comp": 0
  }
}
